.progressBarWrapper{
  overflow: hidden;
}
input[type=range][id=volume]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 12px;
  background: #000000;
  border-radius: 0;
}
input[type=range]:focus {
  outline: none;
}

input[ type = range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 12px;
  background: #FFFFFF;
  border-radius: 6px;
  cursor: pointer;
}

.progress {
  background: #FFFFFF;
  width: 580px;
  height: 2px;
  transform: translateX(0%);
}

.track {
  background: #ADACAD;
  height: 2px;
  width: 580px;
  position: relative;
  max-width: 580px;
}
