.track {
    background: #FFFFFF;
    height: 2px;
    position: relative;
    cursor: pointer;
    max-width: 580px;
    width: 100%;
}


.progress {
    background: #ADACAD;
    width: 580px;
    height: 2px;
    transform: translateX(0%);
}

.input {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    max-width: 580px;
    position: absolute;
    z-index: 50;
    bottom: -5px;
    left: 0;
    right: 0;
}

